body {
    font-size: 14px;
    background: #f7f7f7;
    height: 100vh;
}

.block {
    background-color: #957BBE;
}

.title-block {
    font-size: 22px;
}

.asteriskField {
    display: none;
}

.title {
    margin-top: 15px;
}

h3 {
    font-size: 20px;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    transition-duration: .33s;
    transition-property: box-shadow;
    transition-timing-function: ease-out;
}