{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="http://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="http://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
  $('#table').DataTable({
   "pagingType": "full_numbers",
   "language": {
        "info": "Показано с _START_ по _END_ из _TOTAL_ записей",
        "search": "Поиск:",
        "infoEmpty": "Показано с 0 по 0 из 0 записей",
        "paginate": {
           "first": "Первая страница",
           "last": "Последняя страница",
           "previous": "Назад",
           "next": "Вперед",
         }
   }
    });
});





</script>

<div class="content">
    <h3 class="mt-2">Поля:</h3>

    <table id="table">
        <thead>
        <tr>
            <th>Название поля</th>
            <th>Площадь, га</th>
            <th>Сезон</th>
            <th>Сев</th>
            <th>Урожайность, ц/га</th>
        </tr>
        </thead>

        <tbody>
        {% for info in data %}
        <tr>
            <td><a href="{{ info.field.get_absolute_url }}">{{ info.field.name }}</a></td>
            <td>{{ info.field.square_ha }}</td>
            <td>{{ info.season.name }}</td>
            <td>{{ info.culture.name }}</td>
            {% if info.actual_harvest is None %}
            <td style="color: red">Ожидается</td>
            {% else %}
            <td>{{ info.actual_harvest }}</td>
            {% endif %}
        </tr>
        {% endfor %}

        <tr>
            <td><a href="Поле 16">Поле 16</a></td>
            <td>23,75</td>
            <td>-</td>
            <td>Ожидается</td>
            <td style="color: red">Ожидается</td>
        </tr>
        </tbody>
    </table>

    <ul>
        {% for field in fields %}
        <a href="{{ field.get_absolute_url }}">
            <li>
                <p>Название поля: {{ field.name }}</p>
                <p>Площадь поля: {{ field.square }} га</p>
            </li>
        </a>
        {% endfor %}
    </ul>

    <a href="{% url 'fields:add_field' %}" class="btn btn-primary mb-2">Добавить поле</a>
</div>

{% endblock %}