<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Ферма</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Добавить
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'fields:add_field' %}">Поле</a></li>
                        <li><a class="dropdown-item" href="#">Сев</a></li>
                        <li><a class="dropdown-item" href="#">Работу</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'fields:field_list' %}">Поля</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'fields:work_detail' 64 %}">Работы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Мониторинг</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Авторизация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Регистрация</a>
                </li>
            </ul>

        </div>
    </div>
</nav>