<div class="list-group">
    <a href="/" class="list-group-item list-group-item-action"
       aria-current="true">
        Старт
    </a>
    <a href="/" class="list-group-item list-group-item-action"
       aria-current="true">
        Мониторинг
    </a>
    <a href="/" class="list-group-item list-group-item-action"
       aria-current="true">
        Карта
    </a>
    <a href="/" class="list-group-item list-group-item-action"
       aria-current="true">
        Заметки
    </a>
    <a href="/" class="list-group-item list-group-item-action"
       aria-current="true">
        Работы
    </a>
    <a href="/" class="list-group-item list-group-item-action block"
       aria-current="true">
        Севооборот
    </a>
</div>